@font-face {
  font-family: "Roboto";
  src: url("./Roboto.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: "Roboto";
}

body {
  background: black;
}

#container {
  position: absolute;
  width: 800px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 25px;
}

p {
  color: white;
  margin: 10px 0px 5px 0px;
}
